= form_for([@post, @comment]) do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2 = pluralize(@comment.errors.count, "error") prohibited this comment from being saved:

      %ul
      - @comment.errors.full_messages.each do |message|
        %li = message

  .field
    = f.label :author
    %br
    = f.text_area :author

  .field
    = f.label :content
    %br
    = f.text_area :content

  #field
    - if policy(@comment).approve?
      = f.label :approved
      = f.check_box :approved

  .actions
    = f.submit