<h2><%= @project.name %></h2>
<p>Technologies used: <%= @project.technologies_used %></p>
<p>
  <%= image_tag @project.image.url(:thumb) %>
</p>

<br>
<%= link_to 'Back', projects_path %> |
<%= link_to 'Leave a comment', new_project_comment_path(@project) %>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Comment</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% policy_scope(@project.comments).each do |comment| %>
      <tr id="<%= dom_id(@project) %>">
        <td><%= comment.author %></td>
        <td><%= comment.content %></td>
        <td><%= comment.approved %></td>
        <td><%= link_to 'Edit', edit_project_comment_path(@project, comment) %></td>
        <% if policy(comment).destroy? %>
          <td><%= link_to 'Destroy', project_comment_path(@project, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>